
html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#222831;
    --secondary-color:#2c2f3a;
    --tertiary-color:#eac15a;
}
body{
    font-family: "Poppins";
}
h1,h2,h3,h4,h5{
    font-family: "Lora";
}
p{
    font-family: "Poppins";
}
header{    
    width: 100%;
    height: 5rem;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10000;
}
#title{
    display: flex;
    align-items: center;
}

#title>img{
    width: 4.5rem;
    margin-right: .3rem;
}
#title>h1{
    font-size: 22px;
    font-weight: 550;
    position: relative;
    top:10px;
    color: white;
}
.head-button{
    padding: 1rem 1.5rem;
    border-radius: 3px;
    margin: 0 3px;
    text-decoration: none;
    color: white;
    transition: .4s ease;
}

.head-button:hover{
    color: var(--tertiary-color);
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#beginning{
    top: -5rem;
    width: 100%;
    height: 85vh;
    position: relative;
    z-index: 900;
    box-shadow: 0 3rem 12px 6px rgba(0,00,0,.2);
}
#beginning>img{
    object-fit: cover;
    width: 100%;  
    filter: brightness(.5);
    height: 90vh;
}
#beginning>div{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 20px;
    align-items: center;
    position: absolute;
    width: 100%;
    top:25%;
}
h2{
    font-size: 48px;
    padding: 1rem 0;
    text-transform: uppercase;
}
h3{
    font-size: 20px;
    color: rgb(200,200,200);
    font-style: italic;
}
#introduction{
    margin-top: 2rem;
    font-style: italic;
}
#main-phone>p{
    font-size: 32px;
    color: white;
}

#main-phone{
    display: flex;
    position: relative;
    top: 4rem;
    align-items: center;
    transition: background-color ease .5s;
    padding: .5rem 1rem;
}
#main-phone:hover{
    background-color: rgba(200,200,200,.1);
    border-radius: 3px;
}
#main-phone>img{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

#services-title{
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-family: "Lora";
    font-weight: 600;
    color: #121212;
}
#services-title>span{
    width: 100%;
    display: block;
    height: 5px;
    background-color: var(--secondary-color);
}

#services{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 950;
    color: rgb(30,30,30);
    background-color: white;
    height: 100%;
    margin-bottom: 3rem;
}
.service-kind{
    display: flex;
    width:50vw;
    height: 15vw;
    flex-direction: row;
    position: relative;
    align-items: center;
    align-self: stretch;
    background-color: var(--secondary-color);
    color: #999999;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    box-shadow: 0px 8px 12px 6px;
}
.icon{
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    background-size: cover;
    background: var(--tertiary-color);
    border-radius: 3px;
}
h4{
    color: var(--tertiary-color);
    font-size: 20px;
    padding-bottom: 2rem;
}
.odd{
    background-color: #16181d;
    flex-direction: row-reverse;
    align-self: flex-end;
}
#contact{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);
    z-index: 600;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
.contact-detail{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    color: white;
}
.contact-detail>span>a{
    color: white;
}
footer{
    width: 100%;
    display: flex;align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
}
footer>p,a{
    background-color: transparent;
    color: darkgrey;
    padding: 1rem 0;
    text-decoration: none;
}




/*MEDIA*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    header{
        padding: 0;
        height: 3rem;
        margin-top: 1rem;
    }
    header>a{
        width: 100%;
    }
    #title{
        width: 100%;
        align-items: center;
    }
    #title>img{
        width: 3.5rem;
    }
    header>ul{
        display: none;
    }

    h3{
        font-size: 16px;
    }
    h2{
        font-size: 28px;
    }
    #introduction{
        padding: 0 1rem;
        font-size: 14px;
        margin-bottom: 2rem;
    }
    #main-phone{
        top: 0;
    }
    #main-phone>img{
        width: 1.7rem;
    }
    #main-phone>p{
        font-size: 24px;
    }
    #services{
        width: 100vw;
        margin: 0 0 2rem 0;
        padding: 0;
    }
    .service-kind{
        width: 100%;
        height: 25vh;
        margin: 0;
        box-shadow: none;
    }
    .service-kind>div>h4{
        font-size: 16px;

    }
    .service-kind>div>p{
        font-size: 14px;
    }
    .icon{        
        display: none;
    }

    #contact{
        width: 100vw;
        flex-direction: column;
        height: 100%;
        padding: 1rem 1rem;
    }
    .contact-detail{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
    }
    footer{
        font-size: 10px;
    }
    #services-title{
        font-size: 24px;
    }
}